/posterior_distributions.png
/group_effects.png
/prediction_accuracy.png
/player_effects_dist.png
/tier_effects.png
/performance_effects.png
/efficiency_effects.png
/momentum_effects.png
/context_effects.png
